$color:#aaa;
$grid-size:12;
$offset:30px;
$break_lg: 1100px;
$break_md: 960px;
$break_sm: 780px;
$break_xs: 560px;

@mixin col($i){
  width: #{calc(8.333333333333334%*#{$i} - #{$offset})};
}

@mixin col-lg($i){
  @media screen and (max-width: $break_lg){
    width: #{calc(8.333333333333334%*#{$i} - #{$offset})};
  }
}

@mixin col-md($i){
  @media screen and (max-width: $break_md){
    width: #{calc(8.333333333333334%*#{$i} - #{$offset})};
  }
}

@mixin col-sm($i){
  @media screen and (max-width: $break_sm){
    width: #{calc(8.333333333333334%*#{$i} - #{$offset})};
  }
}
@mixin col-xs($i){
  @media screen and (max-width: $break_xs){
    width: #{calc(8.333333333333334%*#{$i} - #{$offset})};
  }
}
